//===================================================
//  Copyright @ 2020
//  Author : Hung Vo (it.minhhung@gmail.com)
//  Time : 2020, Nov 12
//  Description : GLASS THEME 001
//===================================================

@import "theme-variables.less";

.themeDefs(3) {
    @sidebar-width: 280px;
    @glass-001-is-dark-style: true;
    @glass-001-border-radius: 2px;

    @glass-001-main-header-height: 60px;
    @glass-001-main-header-bg: unset;
    @glass-001-main-header-bg-size: cover;
    @glass-001-main-header-bg-color: #26293b;
    @glass-001-main-header-box-shadow: unset;

    @glass-001-main-header-logo-bg: unset;
    @glass-001-main-header-logo-bg-size: cover;
    @glass-001-main-header-logo-bg-color: transparent;
    @glass-001-main-header-logo-box-shadow: unset;

    @glass-001-main-header-navbar-bg: none;
    @glass-001-main-header-navbar-bg-size: cover;
    @glass-001-main-header-navbar-bg-color: transparent;
    @glass-001-main-header-navbar-color: #fff;
    @glass-001-main-header-navbar-hover-active-color: #5f97ff;
    @glass-001-main-header-navbar-box-shadow: blue;

    @glass-001-main-sidebar-bg: none;
    @glass-001-main-sidebar-bg-size: cover;
    @glass-001-main-sidebar-bg-color: #1e1e2f;

    @glass-001-main-sidebar-nav-item-bg: none;
    @glass-001-main-sidebar-nav-item-bg-size: auto;
    @glass-001-main-sidebar-nav-item-bg-color: rgba(0, 0, 0, 0.2);
    @glass-001-main-sidebar-nav-item-color: #8c909a;
    @glass-001-main-sidebar-nav-item-hover-active-color: #4d83ff;
    @glass-001-main-sidebar-nav-item-text-shadow-color: #4d83ff;

    @glass-001-content-wrapper-bg: none;
    @glass-001-content-wrapper-bg-size: cover;
    @glass-001-content-wrapper-bg-color: #1e1e2f;

    @glass-001-content-data-grid-bg: none;
    @glass-001-content-data-grid-bg-size: cover;
    @glass-001-content-data-grid-bg-color: #26293b;

    @glass-001-content-box-shadow: 0 0 20px #0000003d;

    @glass-001-text-color: #cccccc;
    @glass-001-text-hover-active-color: #fff;
    @glass-001-text-shadow-color: #333;

    @glass-001-link-color: #5f97ff;
    @glass-001-link-hover-active-color: #e2b143;
    @glass-001-link-shadow-color: #151515;

    @glass-001-theme-background: none;
    @glass-001-theme-background-size: cover;
    @glass-001-theme-color: #1e1e2f;
    @glass-001-theme-color-without-opacity: #1e1e2f;

    @glass-001-dialog-bg: none;
    @glass-001-dialog-bg-size: cover;
    @glass-001-dialog-bg-color: #404358;

    @glass-001-box-bg: none;
    @glass-001-box-bg-size: cover;
    @glass-001-box-bg-color: #26293b;

    @glass-001-tool-button-border-color: #525467;
    @glass-001-tool-button-bg-color: #ffffff26;
    @glass-001-tool-button-hover-active-bg-color: #ffffff26;
    @glass-001-tool-button-box-shadow: rgba(0, 0, 0, 0.25);

    @glass-001-input-border-color: #00000033;
    @glass-001-input-bg-color: #0000002b;
    @glass-001-input-box-shadow: rgba(0, 0, 0, 0.25);

    @glass-001-tab-active-bg-color: #00000014;
    @glass-001-panel-bg-color: #00000014;

    @glass-001-read-only-bg: url(/Content/skins/glass001/assets/bg_dot.png);
    @glass-001-read-only-bg-color: transparent;
    @glass-001-read-only-border-color: #92929212;
    @glass-001-read-only-text-color: #f5f5f599;
}

