.vs
/SerenitySkins/SerenitySkins.Web/bin/Debug/netcoreapp3.1
/SerenitySkins/SerenitySkins.Web/node_modules
/SerenitySkins/SerenitySkins.Web/obj
/SerenitySkins/SerenitySkins.Web/bin/Release/netcoreapp3.1
